body {
    
    background-image: url('imagens/fundopaginaa.gif');
    background-attachment: fixed;
    background-size: 1370px 670px;

  
}

@font-face {
   font-family: 'maquina';
   src: url(fontes/another_typewriter/atwriter.ttf) format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family:'forever' ;
   src: url('fontes/Always\ Forever\ Bold.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

  h1 {
   font-family:'forever';
   font-size: 100px;
   font-weight: normal;
   margin-top: 77px;
   position: absolute;
   margin-left: 580px;
   color: rgb(1, 48, 37);
  
} 

 
 #send{
    font-family:'forever';
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: blueviolet;
    box-shadow: 2px 2px 50px 2px black;
    color: rgb(1, 48, 37);
    background-image: url('imagens/ondas.jpeg');
    margin-top: 40px;
    margin-left: 560px;
    font-size: 1.2cm;
 }


div.quadrado {
   width: 700px;
   height: 400px;
   border-radius: 20px;
   box-shadow: 15px 15px 40px 2px black;
  margin-top: 90px;
  margin-left: 300px;
  background-image: url('imagens/cartaodesing.svg');  


}

#numerocartao {
   width: 430px;
   height: 35px;
   position: relative; top: 310px; left: 425px;
   border-radius: 20px;
   border: 0px; 
   font-size: 35px;
}

p {
   font-family: 'maquina';
   font-weight: normal;
   color: rgb(175, 0, 0);
   font-size: 20px;
   text-align: right, justify;
   margin-left: 28cm;
   margin-right: 1cm;
   margin-top: -12cm;
   max-width: 480px;
   border-radius: 10px;
  

}

p::after 
   {
      content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: blink .7s infinite;
}

@keyframes blink {
   0%, 100% {
       opacity: 1;
   }
   50% {
       opacity: 0;
   }
}